# EC Notebook for Lecture 6: Working with `len()`

This extra credit Python notebook will let you practice the material you saw in lecture.  Completing all parts of this notebook will earn +1 extra credit point to your grade in STAT 107! :)

This notebook is worth +1 if turned in before 11:30am on **Wednesday, Sept. 11** *(30 minutes before the next STAT 107 lecture)*.  You can feel free to complete it anytime for extra practice.

## 1. Loading pandas and importing data

For this notebook, we will use the "Course Catalog" dataset that is our dataset of the week.

Here's the link: https://docs.google.com/spreadsheets/d/1ZnpZpipyui_zIIBblmalRYiyEG1glUKinqJtQxVL04o/edit#gid=0

Use the following cell to load the pandas library and read the DataSet as a DataFrame:

In [2]:
import pandas as pd 
df = pd.read_csv("Illinois Course Catalog - Sheet1.csv")
df

,Year,Term,YearTerm,Subject,Number,Name,Description,Credit Hours,Section Info,Degree Attributes
0,2019,Fall,2019-fa,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,"Social & Beh Sci - Soc Sci, and Cultural Studi..."
1,2019,Fall,2019-fa,AAS,105,Introduction to Arab American Studies,Interdisciplinary introduction to the basic co...,3 hours.,NaN,Cultural Studies - US Minority course.
2,2019,Fall,2019-fa,AAS,120,Intro to Asian Am Pop Culture,Introductory understanding of the way U.S. pop...,3 hours.,NaN,Cultural Studies - US Minority course.
3,2019,Fall,2019-fa,AAS,199,Undergraduate Open Seminar,May be repeated to a maximum of 6 hours.,1 TO 5 hours.,NaN,NaN
4,2019,Fall,2019-fa,AAS,200,U.S. Race and Empire,Invites students to examine histories and narr...,3 hours.,Same as LLS 200.,"Humanities - Hist & Phil, and Cultural Studies..."
...,...,...,...,...,...,...,...,...,...,...
8584,2019,Fall,2019-fa,ZULU,202,Elementary Zulu II,Continuation of ZULU 201 with introduction of ...,5 hours.,Same as AFST 252. Participation in the languag...,NaN
8585,2019,Fall,2019-fa,ZULU,403,Intermediate Zulu I,Survey of more advanced grammar; emphasis on i...,4 hours.,NaN,NaN
8586,2019,Fall,2019-fa,ZULU,404,Intermediate Zulu II,Continuation of ZULU 403; emphasis on increasi...,4 hours.,NaN,NaN
8587,2019,Fall,2019-fa,ZULU,405,Advanced Zulu I,Third year Zulu with emphasis on conversationa...,3 hours.,NaN,NaN
8588,2019,Fall,2019-fa,ZULU,406,Advanced Zulu II,Continuation of Zulu 405 with increased emphas...,3 hours.,NaN,NaN

## 2. Courses in STAT, CS, and IS

This course, Data Science Discovery, is cross-listed as **STAT 107**, **CS 107**, and **IS 107** as this is a truly cross-disciplinary course.

Using the "Course Catalog" dataset, find the number of courses is the subjects **STAT**, **CS**, and **IS** and store the value in the cells `STAT_courses_ct`, `CS_courses_ct`, and `IS_courses_ct`,

- *Make sure that these values are **numbers**, not DataFrames!*

In [3]:


STAT_courses_ct = len(df[ df["Subject"] == "STAT"])
print(f"There are a total of {STAT_courses_ct} unique STAT courses in the course catalog.")

There are a total of 57 unique STAT courses in the course catalog.

In [4]:


CS_courses_ct = len(df[ df["Subject"] == "CS"])
print(f"There are a total of {CS_courses_ct} unique CS courses in the course catalog.")

There are a total of 118 unique CS courses in the course catalog.

In [5]:


IS_courses_ct = len(df[ df["Subject"] == "IS"])
print(f"There are a total of {IS_courses_ct} unique IS courses in the course catalog.")

There are a total of 92 unique IS courses in the course catalog.

In [6]:
## == TEST CASES for Puzzle 2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert( STAT_courses_ct == 57 ), "The number of STAT courses appears to be incorrect."
assert( CS_courses_ct == 118 ), "The number of STAT courses appears to be incorrect."
assert( IS_courses_ct == 92 ), "The number of STAT courses appears to be incorrect."

## Submit Your Work!

Make sure to **Save and Checkpoint** your notebook, exit Jupyter, and submit your work! :)